<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.praktikum.responsisupermarket_kode_a2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResponsiSupermarket_KodeA2">
        <activity
            android:name=".AdminController.ViewRincianAkunKaryawan"
            android:exported="false" />
        <activity
            android:name=".AdminController.TambahAkunKaryawan"
            android:exported="false" />
        <activity
            android:name=".Admin.TambahAkunKaryawan"
            android:exported="false"
            android:label="@string/title_activity_tambah_akun_karyawan"
            android:theme="@style/Theme.ResponsiSupermarket_KodeA2.NoActionBar" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUDItem.TambahItemProduk"
            android:exported="false"
            android:label="Tambah Item Produk" />
        <activity
            android:name=".CRUDItem.EditItemProduk"
            android:exported="false" />
        <activity
            android:name=".CRUDItem.ViewItemProduk"
            android:exported="false" />
        <activity
            android:name=".Karyawan"
            android:exported="false"
            android:label="Dashboard Karyawan" />
        <activity
            android:name=".Admin"
            android:exported="false"
            android:label="Dashboard Admin" />
        <activity
            android:name=".Login"
            android:exported="false" />
    </application>

</manifest>